%div#new-user
  %div#new-user-header.header
    %h1 New User

  %div#new-user-form.form
    = form_for @user do |f|

      %div#user-username.form-section
        %div.form-label
          = f.label :username
        %div.form-field
          = f.text_field :username

      %div#user-email.form-section
        %div.form-label
          = f.label :email
        %div.form-field
          = f.text_field :email

      %div#user-password.form-section
        %div.form-label
          = f.label :password
        %div.form-field
          = f.password_field :password

      %div#user-submit.form-section
        = f.submit
